.container-fluid
{   
    background-color:black ;
    color: #f2f2f2;
}
label{
    margin: 20px 40px;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 10px -20px;
}
#myTable {
  border-collapse: collapse;
  width: 97%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin: 10px 20px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
