.container-fluid
{	
	background-color:black ;
	color: #f2f2f2;
}
.butnone
{

    margin: 10px 30px;
    background-color: #EC7063;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    float: right;
}


.butnone:hover {
    background-color: #7B241C;
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
{
    box-sizing: border-box;
}


.active {
    background-color: #2471A3;
}
h2
{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 0px 0px 300px #000;
    font-size: 150%;
}
h3
{
    margin: 10px 10px;
}
input[type=date] {
    width: 10%;
    padding: 12px 20px;
    margin: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.butn {
    background-color: teal; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40%;
}
.butn4 
{

	margin: -210px 30px;
    background-color: #EC7063;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    float: left;
}


.butn:hover {
    background-color: #7B241C;
}
.date{
    width: 30%;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}